// vitepress-container-hyde 容器样式更改
@use "./container-var.scss";

/* INFO 容器背景色、线条边框 */
.custom-block.info {
  background-color: var(--custom-block-info-bg);
  border: 1px solid var(--custom-block-info-border);
}

/* TIP 容器边框色、背景色、线条边框 */
.custom-block.tip {
  background-color: var(--custom-block-tip-bg);
  border: 1px solid var(--custom-block-tip-border);
}

/* Warning 容器背景色、线条边框 */
.custom-block.warning {
  background-color: var(--custom-block-warning-bg);
  border: 1px solid var(--custom-block-warning-border);
}

/* Danger 容器背景色、线条边框 */
.custom-block.danger {
  background-color: var(--custom-block-danger-bg);
  border: 1px solid var(--custom-block-danger-border);
}

/* NOTE 容器背景色、线条边框 */
.custom-block.note {
  background-color: var(--custom-block-note-bg);
  border: 1px solid var(--custom-block-note-border);
}

/* IMPORTANT 容器背景色、线条边框 */
.custom-block.important {
  background-color: var(--custom-block-important-bg);
  border-left: 5px solid var(--custom-block-important-border);
}

/* CAUTION 容器背景色、线条边框 */
.custom-block.caution {
  background-color: var(--custom-block-caution-bg);
  border-left: 5px solid var(--custom-block-caution-border);
}

// details 容器背景色、线条边框
.custom-block.details {
  background-color: var(--custom-block-details-bg);
  border: 1px solid var(--custom-block-details-border);
}

// IMPORTANT 容器背景色、线条边框
.custom-block.important {
  background-color: var(--custom-block-important-bg);
  border: 1px solid var(--custom-block-important-border);
}

// CAUTION 容器背景色、线条边框
.custom-block.caution {
  background-color: var(--custom-block-danger-bg);
  border: 1px solid var(--custom-block-danger-border);
}
